nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 5%;
  a {
    font-family: "Roboto-Bold";
    color: #0d4625;

    text-decoration: none;

    .logo {
      font-size: 2rem;
      font-family: "Roboto-Bold";
    }
  }
  .navlink {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    text-decoration: underline;
  }
}
